@media  screen and (max-width:900px) {
    .nav{
    display: none;
    }

a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}